.menu{
    text-align: center;
}
.menu-header{
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}
.menu-header-link{
    margin-left: 72px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2.7px;
    text-decoration: none;
    color: #FF0000;
}
.main-img{
    text-align: center;
}
section{
    font-family: 'Montserrat';
    text-align: center;
    color: #373737;
}
.title{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 3.3px;
    margin-top: 49px;
    margin-bottom: 38px;
}
.text{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2.4px;
    margin-top: 0%;
    margin-bottom: 28px;
}
.button{
    margin-top: 56px;
    margin-bottom: 99px;
}
.button-link{
    font-weight: 700;
    font-size: 12px;
    background-color: #FF0000;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 4px;
    padding: 18px 43px;
}
footer{
    text-align: right;
    font-family: 'Montserrat';
    font-weight: 700;
    letter-spacing: 2.4px;
    text-decoration: none;
    color: #373737;
    margin-bottom: 29px;
}